/* IMPORTS */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */
:root {
    --text: #AAABAD;
    --white: #FFFFFF;
    --black: #000000;
    --primary: #282828;
}

/* GLOBALS */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    line-height: 100%;
    box-sizing: inherit;
}

body {
    background-color: var(--primary);
}

ul, ol {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* FUNCTIONALITIES */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}